@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

$FontMain: 'Oswald', sans-serif;
$FontSec: 'Lato', sans-serif;

$colorWhite: #FFFFFF;
$colorBlack: #252422;
$colorBlue: #3a86ff;
$colorLightBlue: #edf6f9;
$colorDarkBlue: #03045e;
$colorTeal: #06d6a0;
$colorLightGray: #edede9;
$colorPlatinum: #D8E2DC;


$heightNavbar: 4rem;