@import '../utilities/variables';

.Home {
    .Header {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1rem;

        #HeaderImage {
            width: 40%;
        }
        
        .HeaderContent {
            h1, h2 {
                font-family: $FontMain;
                margin-bottom: 2rem
            }
            
            h1 {
                color: $colorBlue;
                font-size: 5rem;
                line-height: 1;
            }

            h2 {
                color: $colorDarkBlue;
                font-size: 2rem;
            }

            h3 {
                color: $colorBlack;
                font-family: $FontSec;
                margin-bottom: 1rem;
            }

            .HeaderButtons {
                display: flex;
                gap: 1rem;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            #namePlus {
                color: $colorTeal
            }
        }
    }

}